.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 0.5rem;
  background-color: #507870;
}

.constrained-responsive {
  max-width: 70px;
  max-height: 30px;
}
