.sectionStyle {
  padding: 4rem 0;
  background-color: #f5f5f5;
}

.cardStyle {
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titleStyle {
  color: #562692;
}

.linkStyle {
  color: #8fccc1;
}
